{% extends 'main.html' %}
{% block download %}
<div class="row">
   <div class="col-12">
      <div class="mb-3">
         <form action = "/download" enctype="multipart/form-data">
            <div class="mb-3">
               <input class="btn btn-light button-text-color" type="submit" value="Download">
            </div>
         </form>
      </div>
   </div>
</div>
<div class="row" id="statistics">
   <div class="col-12">
      <div class="mb-3">
         <p class="text-start">Compressing ratio: {{ statistics[0] }} %</p>
         <p class="text-start">Compressing time: {{ statistics[1] }} s</p>
         <p class="text-start">Decompressing time: {{ statistics[2] }} s</p>
      </div>
   </div>
</div>
{% endblock %}
